<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product edit</title>
    <% include partials/carth %>
</head>
<body>
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../../../assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                   <div class="container-fluid">
                       <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left d-flex">
                                    <div class="flag">
                                        <img src="../../../assets/img/icon/header_icon.png" alt="">
                                    </div>
                                    <div class="select-this">
                                        <form action="#">
                                            <div class="select-itms">
                                                <select name="select" id="select1">
                                                    <option value="">IND</option>
                                                   
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <ul class="contact-now">     
                                        <li>+91 8420316525</li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                   <ul>                                          
                                        <li><a href="/admin/sales">sales</a></li>
                                      
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                  <a href="/admin/acontrol"><img src="../../../assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>                                                
                                        <ul id="navigation">                                                                                                                                     
                                            <li><a href="/admin/acontrol">Home</a></li>
                                            <li><a href=" ">My Account </a></li>
                                            <li><a href="/admin/acontrol">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <div class="form-box f-right ">
                                            <input type="text" name="Search" placeholder="Search products">
                                            <div class="search-icon">
                                                <i class="fas fa-search special-tag"></i>
                                            </div>
                                        </div>
                                     </li>
                                     <form action="/admin/logout?_method=DELETE" method="POST">
                                      <button class="btn" type="submit">Log Out</button>
                                    </form>
                                </ul>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>
 <!-- table Start -->
<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product id</th>
          <th scope="col">Product name</th>
          <th scope="col">details</th>
          <th scope="col">photo</th>
          <th scope="col">price</th>
          <th scope="col">category</th>
        </tr>
      </thead>
      <tbody>
       <tr>
         
        </tr>
      </tbody>
    </table>

    <div class="container" >
        <form id="getform2" class=" row contact_form"  >
          <h2 style="padding-bottom: 1em;">edit the product:-</h2>
          <div>
          <div class="col-md-12 form-group p_star">
                        <h4>insert image:-</h4>
                        <input type="file" id="file" name="file">
                        <input type="button" class="black-btn"  value="Upload" id="upload">
          </div> 
            <br><br>
            <div class="col-md-12 form-group p_star">
              <h4>enter product category:-</h2>
            </div>
          <div class="col-md-12 form-group p_star">
                 <select name="select" id="cat" >
                  <option value="men">men</option>
                  <option value="women">women</option>
                  <option value="kids">kids</option>
            </select>
          </div>
          <div class="col-md-12 form-group p_star">
            <h4><label for="name" > enter price of product:-</label><br></h4>
            <input type="text" name="price" id="price" placeholder="enter price" required><br>
          </div>
          <div class="col-md-12 form-group p_star">
            <h4><label for="name"> enter name of product:-</label><br></h4>
            <input type="text" name="pname" id="pname" placeholder="enteer product name" required><br>
          </div>
          <div class="col-md-12 form-group p_star">
            <h4><label for="name"> enter details of product:-</label><br></h4>
            <input type="text" name="pdetail" id="pdetail" placeholder="enter product detail" required><br>
          </div>
          <div class="col-md-12 form-group p_star">
          
          </div>
        </form>
        <input type="submit" value="edit" class="black-btn" id="post" style="color: white;">
        </div>
        
    <script src=" https://code.jquery.com/jquery-3.5.0.min.js"></script>
 
   <% include partials/editf %>
</body>
</html>